pkgbase = ros-noetic-rqt-bag-plugins
	pkgdesc = ROS - rqt_bag provides a GUI plugin for displaying and replaying ROS bag files.
	pkgver = 0.5.1
	pkgrel = 2
	url = https://wiki.ros.org/rqt_bag
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-catkin
	depends = ros-noetic-rqt-plot
	depends = ros-noetic-rqt-gui-py
	depends = ros-noetic-geometry-msgs
	depends = ros-noetic-rosbag
	depends = ros-noetic-rospy
	depends = ros-noetic-std-msgs
	depends = ros-noetic-rqt-gui
	depends = ros-noetic-sensor-msgs
	depends = ros-noetic-rqt-bag
	depends = ros-noetic-roslib
	depends = python-pillow
	depends = python-cairo
	source = ros-noetic-rqt-bag-plugins-0.5.1.tar.gz::https://github.com/ros-visualization/rqt_bag/archive/2f6fbd558baa8e8038f4d11bb20e27c75537d39c.tar.gz
	sha256sums = 2ca91b332de127ca208d113146e9fbf5e04dfaf886b90eefc147a6aec7e1a997

pkgname = ros-noetic-rqt-bag-plugins
